include ./head.html
style
    include ../public/stylesheets/mix.css
form(
    action="upload"
    method="post" 
    enctype="multipart/form-data"
    class="form-create-img"
    )
    h2 Upload a image
    .form-group
        input( 
            type="file"
            name="image"
            value=""
            class="form-control-file"
        )
    .form-group
        input(
            type="submit" 
            value="upload"
            class="btn btn-primary"
    )
    if image 
        each i in image
            .form-group
                img(
                    src="uploads/" + i
                    class="img-thumbnail"
                )
    .form-group
        a(
            href="../"	
            ) voltar