include ../head.html
style
    include ../../public/stylesheets/header.css
    include ../../public/stylesheets/mix.css
form#form(
    action="/create"
    method="post"
    class="form-create"
    )
    h2 New user
    if err == 1
        span(
            style="color: red; display:block;"
        ) Login or email already in use
    if err == 2
        span(
            style="color: red; display:block;"
            ) All fields are required !
    .form-group

        label Login
        input#login(
            type="text"
            name="login"
            class="form-control"
        )
    .form-group
        label E-mail
        input#email(
            type="text"
            name="email"
            class="form-control"
        )
    .form-group
        label Address
        input#address(
            type="text"
            name="address"
            class="form-control"
        )
    .form-group
        label Password
        input#password(
            type="password"
            name="password"
            class="form-control"
        )
    .form-group
        button#login(
            type="submit" 
            class="btn btn-primary" 
        ) Register
        a.back(
            href="../"	
            ) voltar
